:root{
	--rojo:#E58914;
	--fondo: #141414;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.contenedor{
	width:90%;
	margin:auto;
}
header{
	padding:20px 0;
}
header .contenedor{
	display:flex;
	justify-content: space-between;
	align-items: center;
}
header .logo{
	font-family: 'Montaga', serif;
	font-size: 40px;
}
.logo{
	font-family: 'Montaga', serif;
	font-size: 40px;
}
.logo a{
	text-decoration: none;
}

header nav{
	background-color:#333;
	margin:0px;
	padding:0px;
	overflow: hidden;
	border-radius: 12px;
}

header nav a{
	color:white;
	text-decoration:none;
	font-size: 20px;
	display:inline-block;
	padding:10px;
	text-align: center;
}
header nav li{
	float:left;
	list-style: none;
}
li a:hover{
	background-color:#4da6ff;
}

.page{
	max-width:1110px;
	padding:10px 10px 20px 10px;
	margin:auto;
	background-color:#ffffff;
}
.grow {
	transition: all .3s ease-in-out;
	transform: scale(0.9);
}
.grow:hover, .grow:focus {
	transform: scale(1.15);
}
.contenedor2{
	display:inline-block;
	padding-bottom:30px;
	margin: 38px 20px 0px 20px;
}
body {
	text-align:center;
	font-family: 'Quicksand', sans-serif;
	background-color: #eeeeee;
}
.head{
	padding:20px;
	font-size:20px;
}

.comentario{
	margin:5px;
}
.contacto img{
	margin:10px;
	position:left;
	vertical-align: middle;
}
.numero{
	margin: 0 10px 5px 3px;
	text-align: center;
	
}
.banner img{
	vertical-align: middle;
}

.index-principal{
	background-image:url('../images/orbi.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment: fixed;
}
.banner{
	height:auto;
	width: 80%;
	margin:auto;
	background-color: transparent;
}
.texto{
	font-size: 30px;
	font-weight: bold;
	color:black;
	padding:0;
	display: inline;
}
.other{
	font-size: 28px;font-weight: normal;
	color:black;
	
	padding-bottom: 10px;
}